* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background-site.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  background-color: #FFD147;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.logo-img img {
  padding-left: 20px;
  width: 225px;
  height: 75px;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.menu li a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.menu li a:hover {
  color: #000000;
  background-color: #FFE98A;
  border-radius: 10px;
}

.dropdown-menu {
  background-color: #ffe677;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
  border-radius: 2px;
}

.dropdown-menu a {
  display: block;
  color: #000000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* MENU - HAMBURGUER */

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: #ffe677;
    position: absolute;
    top: 99px;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 20px 0;
    display: block;
  }

  .hamburguer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #000000;
    border-radius: 10px;
    margin: 3px 0;
  }
}

footer {
  width: 100%;
  color: #FFFFFF;
  border-top: solid 1px #000000;
}

#footer_content {
  background-color: #FFD147;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2.5rem 10rem;
}

#footer_content p {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding-right: 30%;
}


#footer_social_media {
  display: flex;
  gap: 1rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #FFD147;
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
  color: #000000;
}

#instagram,
#facebook,
#e-mail {
  background: #FFFFFF;
}

.footer-list {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style: none;
}

.footer-list li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}

.footer-list li a:hover {
  text-decoration: underline;
  color: #000000;
}

.footer-list h3 {
  font-size: 16px;
  text-transform: uppercase;
}

#footer_end {
  background-image: url(../img/background-ladrilho.png);
  padding: 50px;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}